In [2]:
# <<< SECCION 22 TRATAMIENTO DE DATOS>>>  Ejercicio 1

Vamos a filtrar datos en un Dataframe

Creamos una lista de 50 valores aleatorio enteros entre los valores 0 y 100

Convertiremos esta linea en un dataframe en 5 filas y 10 columnas

Filtraremos los datos del dataframe para visualizar solo los valores que sean mayoresde 50

In [8]:
import pandas as pd
import numpy as np

In [9]:
lista_valores = np.random.randint(0,100,50)
lista_valores

array([96, 49, 34, 10, 19, 27,  4, 86,  9, 16, 98, 47, 75, 96, 88, 88, 21,
       78, 43, 24, 31, 75, 67, 21, 61, 47, 37, 51, 70,  6, 75, 91, 92, 57,
       48, 26, 48, 76, 26, 47, 17, 24, 77, 70, 68,  5, 42, 57, 87,  7])

In [10]:
lista_valores.resize(5,10)
lista_valores

array([[96, 49, 34, 10, 19, 27,  4, 86,  9, 16],
       [98, 47, 75, 96, 88, 88, 21, 78, 43, 24],
       [31, 75, 67, 21, 61, 47, 37, 51, 70,  6],
       [75, 91, 92, 57, 48, 26, 48, 76, 26, 47],
       [17, 24, 77, 70, 68,  5, 42, 57, 87,  7]])

In [11]:
dataframe = pd.DataFrame(lista_valores)
dataframe

    0   1   2   3   4   5   6   7   8   9
0  96  49  34  10  19  27   4  86   9  16
1  98  47  75  96  88  88  21  78  43  24
2  31  75  67  21  61  47  37  51  70   6
3  75  91  92  57  48  26  48  76  26  47
4  17  24  77  70  68   5  42  57  87   7

In [12]:
dataframe[dataframe > 50]

      0     1     2     3     4     5   6   7     8   9
0  96.0   NaN   NaN   NaN   NaN   NaN NaN  86   NaN NaN
1  98.0   NaN  75.0  96.0  88.0  88.0 NaN  78   NaN NaN
2   NaN  75.0  67.0   NaN  61.0   NaN NaN  51  70.0 NaN
3  75.0  91.0  92.0  57.0   NaN   NaN NaN  76   NaN NaN
4   NaN   NaN  77.0  70.0  68.0   NaN NaN  57  87.0 NaN